body {
    background-color: antiquewhite;
    margin: 0 auto;
    box-sizing: border-box;
}

div {
    max-width: 200px;
    text-align: center;
    border-radius: 5px;
    background-color: white;
    margin: 0 auto;
    margin-top: 50px;
    padding: 20px;
    font-size: 50%;
    font-family: monospace;

    box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
    transition: 0.2s;
}

div:hover {
    transform: scale(1.2);
    transition: 0.2s;
}

.profile-img {
    width: 100%;
}